# file: .gitignore
# ##############################################################################
# hiddens and cache files
# ******************************************************************************
# snakemake
# ==============================================================================
.snakemake
**/*snakemake
# ==============================================================================
# editor files
# ==============================================================================
*swp
**/*swp
*undo*
**/*undo*
# ==============================================================================

# ******************************************************************************
# other dirs
# ******************************************************************************
tmux

# ##############################################################################
